<h1>New Upload</h1><br>
<%= form_for(@upload) do |f| %>
  <div>
    <%= f.label :file_url %>
    <%= f.file_field :file_url %>
  </div><br>
  <div>
    <%= f.submit %>
  </div>
<% end %><br>
<%= link_to 'Back', uploads_path %>
